.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fafafa;
  flex-direction: column;
  /* height: 528px; */
  padding-top: 80px;
}

.about-texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-cards-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1040px;
  gap: 40px;
  flex-wrap: wrap;
}

.about-card {
  width: 230px;
  height: 209px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  gap: 10px;
}

.about-texts h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  padding-bottom: 10px;
}

.about-texts p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  padding-bottom: 40px;
}

.about-card h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
  text-transform: uppercase;
}

.about-card h3 {
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
  text-align: center;
  text-transform: uppercase;
}

.about-card:hover {
  width: 230px;
  height: 209px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
