@media (max-width: 1000px) {
  .header-cards-bottom {
    gap: 8px;
  }
  .header-card-board {
    height: 220px;
  }

  .home, .nav-logo h1{
    padding-left: 10px;
  }

  .service-card {
    flex-direction: column;
  }

}

@media (max-width: 900px) {
  .header-cards-bottom {
    display: grid;
    justify-content: center;
  }
  .header-card-board {
    height: 210px;
  }

  .header-texts-half-empty{
    display: none;
  }
  .footer-container, .footer-container > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home {
    height: auto;
    background-position: center center;
    text-align: center;
  }

  .header-section {
    display: grid;
  }
}


@media (max-width: 600px) {
  .desktop-hidden {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }
  .nav-container {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .logoemail-icon {
    flex-direction: column;
    height: auto;
  }
  .logoemail-text {
    display: none;
  }
}
